.env
node_modules/
/cypress/screenshots/
/cypress/videos/
/cypress/reports/
/cypress/coverage/
/cypress/fixtures/
download.cy.js/
.DS_Store
/files

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
